.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: "Helvetica Neue", Arial, sans-serif;
}

.page_height_header {
  position: relative;
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  display: flex;
  align-items: center;
  /* выше установили ограничения для секции */
}

.page_background_grey {
  background-color: #f2f2f2;
}

/* и элемента с модификатором вида ключ-значение */
.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-right: 0;
  margin-top: 80px;
}

.logo_place_header {
  position: absolute;
  top: 30px;
  left: 64px;
  width: 228px;
  height: 32px;
  z-index: 2;
}

.header__title {
  margin: 0 0 0 64px;
  flex-basis: 730px;
  line-height: 96px;
  font-size: 102px;
  font-weight: 700;
  z-index: 2;
}

.header__subtitle {
  margin: 0;
  position: absolute;
  left: 64px;
  bottom: 30px;
  z-index: 2;
  width: 338px;
  line-height: 25px;
  font-size: 18px;
  font-weight: 400;
  z-index: 2;
}

.header__link {
  color: #2f80ed;
  text-decoration: none;
}

.header__link:hover {
  color: #1f1f1f;
  text-decoration: underline;
}
/* ниже мы привели пример двух селекторов, чтобы вы вспомнили запись элемента */
.header__square-pic {
  position: absolute;
  top: 64px;
  right: 0;
  height: 568px;
  width: 568px;
  background-color: #2f80ed;
  z-index: 0;
}

.header__main-illustration {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 765px;
  height: 608px;
  z-index: 1;
}

.two-columns {
  display: flex;
  width: 80%;
  margin: 100px auto;
  justify-content: space-between;
}

.two-columns__brief {
  width: 175px;
  margin: 0;
  line-height: 1.2;
  font-size: 18px;
  font-weight: 400;
  color: #2f80ed;
}

.two-columns__main-text {
  width: 80%;
  min-width: 784px;
  margin: 0;
  line-height: 34px;
  font-size: 24px;
  font-weight: 400;
}

.two-columns__span-accent {
  font-weight: 700;
}

.two-columns__paragraph {
  margin: 0;
}

.two-columns__paragraph:nth-of-type(2) {
  margin: 30px 0;
}

.section-title {
  line-height: 1.15;
  font-size: 60px;
  font-weight: 700;
  text-align: center;
}

.section-title_theme_light {
  margin: 100px auto 20px;
}

.section-subtitle {
  line-height: 34px;
  font-size: 24px;
  font-weight: 400;
  text-align: center;
}

.section-subtitle_theme_light {
  margin: 0;
}

.table__heading {
  line-height: 1.15;
  font-size: 24px;
  font-weight: 700;
  margin: 0;
}

.table__text {
  line-height: 1.2;
  font-size: 18px;
  font-weight: 400;
  margin: 20px 0;
}

.table__text:last-of-type {
  margin-bottom: 0;
}

.table {
  display: flex;
  width: 1100px;
  margin: 0 auto;
  flex-wrap: wrap;
  justify-content: space-between;
}

.table_theme_light {
  margin: 0 auto 100px;
}

.table__cell_theme_light {
  width: 250px;
  margin-top: 60px;
}

.feynman__title {
  line-height: 1.15;
  font-size: 120px;
  font-weight: 700;
  text-align: center;
  padding-top: 100px;
  margin: 70px auto;
  width: 648px;
}

.page_height_feynman {
  position: relative;
  height: 890px;
  background-image: url(../images/feynman.png);
  background-repeat: no-repeat;
  background-position: left bottom;
  background-size: 867px 637px;
}

.feynman__subtitle {
  line-height: 51px;
  font-size: 36px;
  font-weight: 400;
  text-align: center;
}

.feynman__link {
  position: absolute;
  top: 50%;
  right: 48px;
  line-height: 51px;
  font-size: 36px;
  font-weight: 400;
  text-decoration: none;
  color: #2f80ed;
}

.feynman__link:hover {
  color: #1f1f1f;
  text-decoration: underline;
}
